/* BASIC SETUP */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #454545;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* REUSEABLE COMPONENTS */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px;
    
}

.box {
    padding: 1%;
}

/* HEADINGS */
h1,
h2,
h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #4e4e4e;
    font-size: 400%;
    word-spacing: 4px;
}

h2 {
    font-size: 250%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;

}

h3 {
    font-size: 200%;
    margin-bottom: 15px;
    text-align: center;
    
}


h2:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

/* PARA */

.long-skills {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 120%;
    text-align: center;
}
/* BUTTONS */


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s;
}



.btn-full:link,
.btn-full:visited {
    background-color: rgba(41, 128, 185, 0.56);
    border: 1px solid #2980b9;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: rgba(41, 128, 185, 0.56);
    border: 1px solid #2980b9;
}

.btn:hover,
.btn:active {
    background-color: #2980b9;
    
} 
.btn-full:hover,
.btn-full:active {
    border: 1px solid #2980b9;
    
} 
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #2980b9;
    color: #fff;
} 

/* HEADER */

header {
    background-image: url(img/lap.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo-two {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}
/*  main nav  */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2980b9;
}


/* sticky nav  */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 10px 0;
    color: #555;
    
}

.sticky .main-nav{

    margin-top: 15px;
}


.sticky .logo { display: none; }
.sticky .logo-two { display: block;}
/* section features */

.skills .long-skills{
    margin-bottom: 40px;
    
}



/* HOW IT WORKS */

.section-steps{
     background-color: rgb(248, 248, 248);
}
.steps-box {
    margin-top: 30px;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
    
}
.calculator {
 width: 100%;
}
.app-screen {
    width: 40%;
}
.doggie {
    width: 100%;
}
.works-step {
    margin-bottom: 50px;
    margin-top: 20px;
   
    
}

.works-step div {
    color: #2980b9;
    border: 2px solid #2980b9;
    display: inline-block;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}


/*   FORM   */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
  
/*   FOOTER   */

footer {
    background-color: #3c3c3c;
    padding: 40px;
    
}

footer p {
    text-align: center;
}
.footer-nav a {
    list-style: none;
    float: left;
    color: #f0f0f0;
    text-decoration: none;
}

.social {
    list-style: none;
    float: right;
 
    
}
.social a {
    color: #f0f0f0;
    text-decoration: none;
}

.footer-nav li,
.social li {
    display: inline-block;
    margin-right: 20px;
}

.copy {
    color: #a7a7a7;
}